<div class="container">

  <div class="d-flex justify-content-between p-3">
    <div class="subtitles">
      Curso
    </div>
    <div class="subtitles">
      Unidade Curricular
    </div>
    <div class="subtitles">
      C5
    </div>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white">
    <div class="container">
      <div class="row subtitles">Cabeçalho</div>
      <div class="row subtible-header">São permitidos a criação de três conjuntos de opções variando
        entre imagem e texto.</div>
      <hr />

      <div *ngFor="let item of cabecalho; let i = index">
        <div class="row m-3">

          <div class="enunciado">
            <div class="d-flex justify-content-between">
              <p><b style="margin-left: 10px;">{{item.name}}</b></p>
              <div *ngIf="item.type !== null"><a (click)="removeType(i)"><i class="fas fa-times"
                    style="margin-right: 10px;"></i></a></div>
            </div>

            <!-- Seleção do tipo -->
            <ng-container *ngIf="item.type === null; else elseTemplate">
              <div class="options">
                <div class="squareCabecalho">
                  <a (click)="addType(i , 'text')"><i class="fas fa-plus"></i></a>
                  <span style="font-size: 12px; color:black; margin-left:20px;">Adicionar Texto</span>
                </div>
                <div class="squareCabecalho">
                  <label>
                    <i class="fas fa-plus"></i>
                    <input class="input " type="file" id="uploader" (change)="imgProgress($event , i)" />
                  </label>
                  <span style="font-size: 12px; color:black; margin-left:20px;">Adicionar Imagem</span>
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <!-- Mostrar por tipo -->
              <ng-container *ngIf="item.type === 'text'; else elseTemp">
                <label class="subtible-header">Digite seu texto abaixo</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </ng-container>
              <ng-template #elseTemp>
                <div class="imageDiv">
                  <img width="150" height="150" [src]="item.image">
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-white">
    <div class="container">
      <div class="row subtitles">Respostas</div>
      <div class="row subtible-header">É obrigatório cinco alternativas, sendo uma correta</div>
      <hr />



    </div>
  </div>


  <div class="shadow-sm p-3 mb-5 bg-white">
    <div class="container">
      <div class="row subtitles">Nível de dificuldade</div>
      <div class="row subtible-header">Selecione um nível de dificuldade</div>
      <hr />
      <div class=" row  p-3 mb-5  w-100 check-form d-flex justify-content-between" id="body">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Muito Fácil
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Fácil
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Médio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Difícil
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Muito Díficil
          </label>
        </div>

      </div>
    </div>

  </div>





</div>