.subtitles{
    font-size: 20px;
}

.subtible-header{
    font-size: 12px;
    color:grey;
}

.squareCabecalho {
    width: 200px;
    height: 100px;
    background: #d0d0d0;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    padding-left:10px; 
    padding-right:10px; 
}
.input {
    display: none;
}

.imageDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.novo{
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
}

.form-check{
    margin:20px;
  }


.enunciado{
    width: 100%;
    background-color: whitesmoke;
}   

.options{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row; 
}

.cancel{
    display:flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row; 
    width: 100%;
}
