<footer class="footer ">
  <div class="py-4">
    <div class="container ">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer-note">
            Serviço
            Nacional de Aprendizagem Industrial - Rod. Admar Gonzaga, 2765 -
            Florianópolis/SC - 88034-001 - Fone: 48 3231 4100 - 0800 48 1212
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2 ">

          <div class="row ">
            <img class="footer-logo-img" src="../../../assets/img/senai-logo-branco.png" alt="">
          </div>

          <div class="row">

            <div class="footer-social">
              <a href="https://www.facebook.com/senaisc"> <i class="fa fa-facebook"> </i></a>
            </div>
            <div class="footer-social">
              <a href="https://www.linkedin.com/company/senai-sc---servi-o-nacional-de-aprendizagem-industrial"> <i
                  class="fa fa-linkedin"> </i></a>
            </div>
            <div class="footer-social">
              <a href="https://twitter.com/SENAISC"> <i class="fa fa-twitter"> </i></a>
            </div>
            <div class="footer-social">
              <a href="https://www.youtube.com/user/senaiconhecimento"> <i class="fa fa-youtube">
                </i></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</footer>