.footer {
  background-color: #299885;
  width: 100%;
}


.footer-note {
  text-align: left;
  color: white;
  font-size: 15px;
  font-family: roboto;
}

.footer-logo-img {
  width: 149px;
  height: 33px;
  margin: 5px;
  align-self: center;
}
.footer-social {
  background-color: white;
  border-radius: 270px;
  width: 30px;
  height: 30px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: center;
  margin: 5px;
  flex-direction: row;
}

.footer-social i {
  color: gray;
}
