<div class="container d-flex flex-column align-items-center py-5 ">
  <div class="row ">
    <div class="row">
      <div class="col align-self-center">
        <div class="shadow-sm p-3 mb-5 bg-white " id="body">
          <div class="container">
            <div *ngIf="term === false">
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <div (click)="activity = true" [ngClass]="{'tab-active': activity , 'tab-inative': !activity }">
                      Home
                    </div>

                  </ng-template>
                  <ng-template ngbTabContent>

                    <div class="container">
                      <div class="login-form">
                        <form>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" placeholder="Email">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control form-control" id="exampleInputPassword1"
                              placeholder="Senha">
                          </div>

                          <div class="pass-forgot">
                            <a routerLink="/forgot">Esqueceu seu usuário ou senha?</a>
                          </div>

                          <button type="submit" class="btn btn-primary btn-sm btn-block submit-button"
                            routerLink="/home">ACESSAR</button>
                        </form>
                      </div>

                    </div>
                  </ng-template>
                </ngb-tab>


                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <div (click)="activity = false" [ngClass]="{'tab-active': !activity , 'tab-inative': activity}">
                      Registrar-se
                    </div>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class="container">
                      <div class="login-form">
                        <form>
                          <div class="form-group">
                            <label for="inputPassword">Nome Completo</label>
                            <input type="text" class="form-control form-control" id="exampleInputPassword1"
                              placeholder="Senha">
                          </div>

                          <div class="form-group">
                            <label for="inputPassword">CPF</label>
                            <input type="text" class="form-control form-control" id="exampleInputPassword1"
                              placeholder="Senha">
                          </div>

                          <div class="form-group">
                            <label for="inputPassword">Matrícula</label>
                            <input type="text" class="form-control form-control" id="exampleInputPassword1"
                              placeholder="Senha">
                          </div>

                          <div class="form-group">
                            <label for="">Selecione o(s) curso(s)</label>
                            <ng-multiselect-dropdown [placeholder]="'Curso'" [data]="courseList"
                              [settings]="courseSettings">
                            </ng-multiselect-dropdown>
                          </div>

                          <div class="form-group">
                            <label for="">Selecione a(s) unidade(s) curricular(res)</label>
                            <ng-multiselect-dropdown [placeholder]="'Unidade curricular'" [data]="topicList"
                              [settings]="topicSettings">
                            </ng-multiselect-dropdown>
                          </div>

                          <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control form-control" id="inputEmail"
                              aria-describedby="emailHelp" placeholder="Email">
                          </div>

                          <div class="form-group">
                            <label for="inputPassword">Senha</label>
                            <input type="password" class="form-control form-control" id="exampleInputPassword1"
                              placeholder="Senha">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputPassword1">Confirme sua senha</label>
                            <input type="password" class="form-control form-control" id="exampleInputPassword1"
                              placeholder="Confirme Senha">
                          </div>
                          <div class="form-group">
                            <div class="pass-forgot">
                              <input class="form-check-input " type="radio" value="false">
                              <a href="#" (click)="term=true">Aceitar os termos de uso desse sistema</a>
                            </div>
                          </div>
                          <button type="submit"
                            class="btn btn-primary btn-sm btn-block submit-button">CADASTRAR</button>
                        </form>
                      </div>

                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>

            </div>

            <div *ngIf="term === true" class="term" >
          
              <h4 style="text-align:center">TERMO DE USO DO SISTEMA</h4>
              <br>
              <div>
                <p>Pelo presente instrumento, de um lado, o <strong> Autor do(s) item(ns), (NOME DO DOCENTE),
                    docente,
                    portador do RG n.º(NÚMERO DO RG), inscrito no
                    CPF sob n.º (NÚMERO DO CPF)</strong>, colaborador do SENAI/SC na unidade de (UNIDADE SENAI) e
                  registro de matrícula (NÚMERO DA MATRICULA), doravante denominado de CEDENTE e, de outro lado, o
                  <strong>Serviço
                    Nacional de Aprendizagem Industrial de Santa Catarina</strong>, pessoa jurídica de direito privado,
                  inscrito no
                  CNPJ/MF sob o n.º 03.774.688/0001-55, com sede na Rod Admar Gonzaga, n.º 2765, Florianópolis – SC,
                  doravante denominado CESSIONÁRIO, têm justo e acordado o presente <strong>Contrato de Cessão de Uso
                    dos
                    Direitos
                    Autorais</strong>, em caráter universal, total e definitivo, que se faz por prazo indeterminado e
                  gratuito,
                  mediante as seguintes condições:</p>
                <p> O CEDENTE e autor do(s) item(ns) de avaliação cede ao CESSIONÁRIO o direito de uso do(s) item(ins)
                  elaborados para a plataforma “Banco de Itens SENAI/SC, declarando sob as penas da lei, a sua inteira e
                  exclusiva responsabilidade quanto a integridade do conteúdo desenvolvido.</p>
                <p>O CEDENTE declara, sob as penas da lei e sob sua inteira e exclusiva responsabilidade, que é o autor
                  e
                  proprietário dos itens enviados, responsabilizando-se por qualquer dano que venha a causar ao
                  CESSIONÁRIO.</p>
                <p>O CEDENTE declara não existir nenhuma proibição vinculada à divulgação interna dos itens elaborados,
                  desonerando, também, o SENAI/SC de todas e quaisquer responsabilidades oriundas da utilização do
                  material
                  por si ou outros docentes vinculados a instituição.</p>
                <p>O CEDENTE, na condição de autor, declara que em caso de aceitação do(s) item(ns) enviado(s) para
                  publicação na plataforma, concorda com que os direitos autorais a ele referentes se tornem propriedade
                  exclusiva do CESSIONÁRIO, vedado ao autor qualquer reprodução, total ou parcial, em qualquer outra
                  parte
                  ou meio de divulgação, impressa ou eletrônica, sem que seja no âmbito de utilização da própria
                  instituição, não sendo possível aplicar em outras unidades de ensino.</p>
                <p>Em caso de desligamento do CEDENTE, independentemente de sua motivação, fica preservado a
                  transferência
                  de
                  direitos autorais para o CESSIONÀRIO, impossibilitando que o CEDENTE retire sua produção da plataforma
                  “Banco de Itens SENAI/SC” ou aplique em outras instituições de ensino.</p>
                <p> A cessão de direitos autorais objeto do presente termo tem vigência por prazo indeterminado, a
                  contar
                  da
                  assinatura eletrônica deste instrumento.</p>
                <p> Este termo, além de seu conteúdo específico, reger-se-á pelas disposições legais existentes,
                  apropriadas à
                  natureza jurídica do ora pactuado.</p>
              </div>
              <div class="today">
                <p>Florianópolis, {{today}} </p>
              </div>

              <button type="submit"
              class="btn btn-primary btn-sm btn-block submit-button"  routerLink="/home">ACEITAR</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>