.tab-active {
  font-family: roboto;
  font-weight: bold;
  color: black;
  border-bottom: 3px solid #299885;
  width: 150px;
  text-align: center;
}

.tab-inative {
  color: black;
  width: 150px;
  text-align: center;
}

.login-form {
  margin-top: 20px;
}

.pass-forgot {
  text-align: end;
  font-size: 12px;
  font-style: italic;
}

.term {
  width: 600px;
  text-align: justify;
  font-size: 15px;
}

label {
  font-size: 15px;
}

.submit-button {
  font-family: roboto;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.today{
  text-align: center;
}
