<div class="container d-flex flex-column align-items-center py-5 ">
  <div class="row ">
    <div class="row ">
      <div class="col align-self-center">
        <div class="shadow-sm p-3 mb-5 bg-white" id="forgot">
          <div class="container">
            <div class="container">
              <div class="login-form">
                <div class="form-group">
                  <h4>Recuperar Senha de Login</h4>
                </div>
                <div class="form-group">
                  <label for="forgotInputEmail">Email</label>
                  <input type="email" class="form-control form-control" id="forgotInputEmail"
                    aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block submit-button"
                  (click)="enviarEmail()">ENVIAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>